
{% extends 'tafika/home.html'%}
{% block content%}
{% comment %} {% extends 'base.html' %}

{% block content %}
    <h1>Liste des modifications</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Bénéficiaire</th>
                <th>Champ modifié</th>
                <th>Valeur précédente</th>
                <th>Valeur actuelle</th>
            </tr>
        </thead>
        <tbody>
            {% for form in form %}
                <tr>
                    <td>{{ modifierBeneficiaire.nom }}</td>
                    <td>{{ modifierBeneficiaire.prenom }}</td>
                    <td>{{ modifierBeneficiaire.matricule }}</td>
                    <td>{{ modifierBeneficiaire.numere_piece }}</td>
                    <td>{{ modifierBeneficiaire.type_piece }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %} {% endcomment %}

    {% csrf_token %}
        <h1>Modifications enregistrées</h1>
    <ul>
        {% for beneficiaire_modifie in beneficiaires_modifies %}
            <li>{{ beneficiaire_modifie.date_modification }} - {{ beneficiaire_modifie.beneficiaire.nom }} {{ beneficiaire_modifie.beneficiaire.prenom }}</li>
        {% endfor %}
    </ul>

{%endblock%}